<h1>カレンダー</h1>

<%= month_calendar(attribute: :date, events: @items) do |date, items| %>
    <%= date %>
    <% items.each do |item| %>
      <div>
        <%= link_to "/items/#{item.id}", class: "text-dark" do %>
          <div class ="border border-info rounded p-1">
            <%= item.memo %>
            ¥<%= item.price %>
          </div>
          <br>
        <% end %>
      </div>
    <% end %>
  <% end %>
