<h1>Items#edit</h1>
<p>Find me in app/views/items/edit.html.erb</p>

<%= form_with url:"/items/update/#{@item.id}", local: true do |form| %>
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <p>値段</p>
  <%= form.number_field :price, value: @item.price %>
  <p>カテゴリ</p>
  <%= form.select :category, @category_hash, :selected => @item.category %>
  <p>日付</p>
  <%= form.date_select :date, value: @item.date %>
  <p>メモ</p>
  <%= form.text_area :memo, value: @item.memo %>
  <%= form.submit "登録"%>
<% end %>
