<h2>修正</h2>

<%= form_with url:"/items/update/#{@item.id}", local: true do |form| %>
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <div>値段</div>
  <%= form.number_field :price, value: @item.price %>
  <div>カテゴリ</div>
  <%= form.select :category, @category_hash, :selected => @item.category %>
  <div>日付</div>
  <%= form.date_select :date, value: @item.date %>
  <div>メモ</div>
  <%= form.text_area :memo, value: @item.memo %>
  <%= form.submit "登録"%>
<% end %>
