<h2>記録</h2>
<br>
<button type="button" class="btn btn-outline-dark " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    電卓
</button>
<br>

<div class = "collapse" id = "collapseExample">
  <div class = "m-3">
    <div class ="py-1">
      <input type="text" id="result" style = "width:100px;height:30px">
      <input type="button" value="C" onclick="reset()" style ="width:30px;heigt:40px">
    </div>
    <div >
      <input type="button" value="1" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="2" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="3" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="+" onclick="edit(this)" style ="width:30px;height:30px">
    </div>
    <div class="">
      <input type="button" value="4" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="5" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="6" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="-" onclick="edit(this)" style ="width:30px;height:30px">
    </div>
    <div class = "">
      <input type="button" value="7" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="8" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="9" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="/" onclick="edit(this)" style ="width:30px;height:30px">
    </div>
    <div class = "">
      <input type="button" value="0" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="." onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="*" onclick="edit(this)" style ="width:30px;height:30px">
      <input type="button" value="=" onclick="edit(this)" style ="width:30px;height:30px">
    </div>
    <script language="javascript" type="text/javascript">
      var result = document.getElementById("result");
      function edit(elem) {
        result.value = result.value + elem.value;
      }
      function calc() {
        result.value = new Function("return " + result.value)();
      }
      function reset(){
        result.value = ""
      }
    </script>
  </div>
</div>

<br>
<%= form_with url:"/items/create", local: true do |form| %>
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <div>値段</div>
  <%= form.number_field :price, value: @item.price %>
  <div>カテゴリ</div>
  <%= form.select :category, @category_hash, :selected => @item.category %>
  <div>日付</div>
  <%= form.date_select :date, value: @item.date %>
  <div>メモ</div>
  <%= form.text_area :memo, value: @item.memo %>
  <%= form.submit "登録"%>
<% end %>

<%= link_to "カテゴリ設定", "/categories/index" %>
<br>
